@using Project_19.Services
@inject IUrlButtonService UrlButtonService

<!DOCTYPE html>

<html>

<head>
	<meta name="viewport" content="width=device-width"/>
	<title>@ViewBag.Title</title>

	<link runat="server" rel="shortcut icon" href="~/favicon.ico" type="image/x-icon"/>
	<link runat="server" rel="icon" href="~/favicon.ico" type="image/ico"/>
	<link rel="stylesheet" href="~/css/site.css"/>

	@foreach (var script in UrlButtonService.Scripts)
	{
		<script src="@script.Url" crossorigin="@script.CrossOrigin"></script>
	}
</head>

<style>
	h1 { font-weight: 600; }
	h4 { font-weight: 400; }
	h6 { font-weight: 600; }
</style>

<body class="bg-light">

@await Component.InvokeAsync("Header")

<div class="px-5 pt-3">

	@if (IsSectionDefined("Title"))
	{
		@await RenderSectionAsync("Title")
	}
	else
	{
		<h4><i class="@ViewBag.Icss"></i> @ViewBag.Title</h4>
	}
</div>

<main class="overflow-auto px-5">
	@RenderBody()
	@if (IsSectionDefined("scripts"))
	{
		@await RenderSectionAsync("scripts")
	}
</main>

<footer class="text-center text-white">

	<div class="container p-3 pb-0">

		<section class="mb-3">

			@foreach (var button in UrlButtonService.Buttons)
			{
				<a class="btn text-white btn-floating m-1"
				   style="background-color: @button.Color"
				   target="_blank"
				   href="@button.Url"
				   role="button">
					<i class="@button.Icss"></i>
				</a>
			}
		</section>
	</div>

	<div class="text-center p-2" style="background-color: #0d6efd;">
		© @DateTime.Now.Year Made for
		<a
			href="https://skillbox.ru/"
			target="_blank">
			<img class="img-thumbnail border border-0"
			     width="46" height="10"
			     alt="Responsive image"
			     src="~/skillbox_logo.svg">
		</a>
	</div>
</footer>
</body>
</html>
