@model Project_19.Models.Contact

@{
	ViewData["Icss"] = "bi bi-person-fill-slash";
    ViewData["Title"] = "Delete contact";
}

<div>
	<dl class="row">
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.LastName)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.LastName)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.FirstName)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.FirstName)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Patronymic)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Patronymic)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.MobileNumber)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.MobileNumber)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Address)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Address)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Description)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.CreatedBy)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.CreatedBy)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.LastModifiedBy)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.LastModifiedBy)
		</dd>
	</dl>
    
	<form asp-action="Delete" asp-antiforgery="true">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Delete" class="btn btn-danger" />
		<input type="button" value="Back to book" class="btn btn-secondary"
		       onclick="location.href='@Url.Action("Index")'" />
	</form>
</div>

@section Title {
	<h3><i class="@ViewBag.Icss"></i> Are you sure?</h3>
}
