@model Project_19.Models.Contact

@{
    ViewData["Icss"] = "bi bi-person-fill";
    ViewData["Title"] = "Contact details";
}

<div>
	<dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patronymic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Description)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.CreatedBy)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.CreatedBy)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.LastModifiedBy)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.LastModifiedBy)
		</dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("admin"))
    {
	    <a asp-action="Edit" asp-route-id="@Model.Id">
		    <input type="submit" value="Edit" class="btn btn-primary"/></a>
    }
    <a asp-action="Index">
		<input type="submit" value="Back to book" class="btn btn-secondary"/>
	</a>
</div>
